@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { font-family: Moonstar; src: url('assets/Moonstar.ttf'); }
@font-face { font-family: Starlight; src: url('assets/Starlight.ttf'); } 
@font-face { font-family: Diabolica; src: url('assets/Diabolica-VRBB.ttf'); } 
@font-face { font-family: CyberCaligraphic; src: url('assets/CyberCaligraphic.ttf'); } 
html {
  background-position: 50% 15%; background-repeat: no-repeat; background-size: cover; background-attachment: scroll; overflow: hidden auto; background-image: url("https://cdn.beacons.ai/user_content/8eOGw07iMvbP8AwATUDkHi1yDhX2/backgrounds/home/background_lavitz.png?t=1670424670754");
}
html, body {
  /* background-color: black; */
  /* background-image: url('assets/bgstar.gif'); */
  cursor: url('assets/cursor-magic.png'), default;
  font-family: CyberCaligraphic;
  color: rgb(204, 193, 36);
  margin: 0;
}
a {
  cursor: url('assets/cursor-magic2.png'), pointer;
}
h1 {
  font-family: Moonstar;
}
.hide-overflow {
  overflow: hidden;
}
